body {
  background-color: rgb(191, 224, 5);
  /* display: flex;
  justify-content: space-around; */
  text-align: center;
}

h1 {
  display: flex;
  font-size: 20rem;
  justify-content: center;
  width: 50%;
  height: 80vh;
  align-items: center;
  border: black solid 3px;
  border-radius: 2%;
  margin: 0 auto;
}

strong {
  font-size: 50px;
  text-decoration: underline;
}
